---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import MyWork from '../components/MyWork.astro';
import AboutMe from '../components/AboutMe.astro';
import Contact from '../components/Contact.astro';
import NavBar from '../components/NavBar.astro';
import Badge from '../components/Badge.astro';
import Testimonials from '../components/Testimonials.astro';
---

<Layout title='cympledev | Frontend Developer | Portfolio'>
  <Badge />
  <main class='container max-w-7xl mx-auto grid gap-2 grid-cols-12 p-4'>
    <NavBar />
    <Hero />
    <MyWork />
    <AboutMe />
    <Contact />
    <Testimonials />
  </main>
</Layout>
