---
import Highlight from './Highlight.astro';
import SectionTitle from './SectionTitle.astro';
import StyledSection from './StyledSection.astro';
---

<StyledSection>
  <SectionTitle id='about_me'>
    A Brief Introduction of Myself: Unveiling My Journey
  </SectionTitle>
  <div class='grid place-content-center'>
    <p class='max-w-2xl w-full px-2 mt-10'>
      My name is Carlos Yoan and I'm a passionate web developer from Cuba. At 24
      years old, just over a year ago, I graduated as an Electrical Engineer
      from Marta Abreu Central University of Las Villas. Throughout my
      education, I discovered my passion for programming and decided to embark
      on a self-taught path in web development.
    </p>
    <p class='max-w-2xl mt-4 w-full px-2'>
      From the start, my main focus has been on front-end development, and I
      have used React as the central pillar of my tech stack. I love working on
      the user interface, designing attractive and functional web experiences
      that provide meaningful value to users.
    </p>

    <p class='max-w-2xl mt-4 w-full px-2'>
      Although I currently don't have real work experience in this field, I am
      eager to embark on my first opportunity to further develop myself as part
      of a professional team. I'm excited about the idea of learning from
      experienced professionals and contributing my skills and knowledge to
      exciting projects. <br />
    </p>
    <p
      class='bg-gradient-to-tr from-red-500 via-red-500 to-orange-500 bg-clip-text text-transparent w-full px-2 font-bold max-w-2xl mt-4'
    >
      I am determined to continue improving my web development skills, learning
      new technologies, and staying up-to-date
    </p>
  </div>
</StyledSection>
