---
import SectionTitle from './SectionTitle.astro';
import content from '../constants/content.json';
import MyTools from './MyTools.astro';
import { BentoContainer } from './React/BentoContainer';
---

<div class='col-span-12 lg:col-span-7 flex flex-col gap-2 h-fit'>
  <BentoContainer className='flex w-full flex-col p-4'>
    <SectionTitle id='about_me'>
      {content.en.aboutMe.heading}
    </SectionTitle>
    <article
      class='grid'
      set:html={content.en.aboutMe.description}
    /></BentoContainer
  >

  <MyTools />
</div>
