---
import SectionTitle from './SectionTitle.astro';
import StyledSection from './StyledSection.astro';
import SocialLinks from './React/SocialLinks';
import Form from './React/Form';
import content from '../content/content.json';
---

<StyledSection>
  <SectionTitle id='social'>
    {content.en.contact.heading}
  </SectionTitle>
  <div class='grid gap-2 mt-10 w-full place-items-center mx-4 pb-10'>
    <SocialLinks client:load />
  </div>

  <p
    id='direct_message'
    class='bg-gradient-to-tr from-amber-500 via-amber-500 to-red-400 bg-clip-text text-transparent w-full font-bold max-w-2xl text-center mt-4'
  >
    {content.en.contact.message}
  </p>

  <Form client:load />
</StyledSection>
