---
import SectionTitle from './SectionTitle.astro';
import SocialLinks from './React/SocialLinks';
import Form from './React/Form';
import content from '../constants/content.json';
---

<div
  class='h-full bento-container p-4 grid grid-cols-7 gap-2 col-span-12 lg:col-span-5'
>
  <div class='col-span-7 mt-4'>
    <SectionTitle id='social'>
      {content.en.contact.heading}
    </SectionTitle>
  </div>

  <SocialLinks client:load />
  <Form client:load />
</div>
