---
import content from '../constants/content.json';
---

<a
  href='#social'
  class='p-2 bg-primary text-background font-bold text-center rounded-lg block mt-4'
>
  {content.en.hero.ctaButtonLabel}
</a>
