---
import Heading from './React/Heading';
import ShortDescription from './ShortDescription.astro';
import Stack from './React/Stack';
import CtaButton from './React/CtaButton';
import ArrowRight from './icons/ArrowRight';
import MotionArrow from './React/Arrow';
import { MotionHero } from './React/MotionHero';
---

<div class='col-span-6 grid grid-cols-6 gap-2 h-fit'>
  <Heading />
  <div class='col-span-6 bento-container h-fit p-4'>
    <ShortDescription />

    <CtaButton />
  </div>
</div>
<div class='col-span-6 grid grid-cols-6 gap-2'><Stack /></div>
