---
import Heading from './Heading.astro';
import ShortDescription from './ShortDescription.astro';
import Stack from './React/Stack';
import CtaButton from './CtaButton.astro';
---

<div class='col-span-6 grid gap-2 h-full'>
  <Heading />
  <div class='bento-container w-full h-full p-4 col-span-6'>
    <ShortDescription />
    <CtaButton />
  </div>
</div>

<div class='col-span-6'>
  <Stack />
</div>
