---
import StyledSection from './StyledSection.astro';
import SectionTitle from './SectionTitle.astro';
import VisualStudioCode from './icons/VisualStudioCode';
import Terminal from './icons/Terminal';
import GoogleFont from './icons/GoogleFont';
import OperaGX from './icons/OperaGX';
import Theme from './icons/Theme';
import content from '../constants/content.json';
---

<div class='col-span-6 grid grid-cols-5 gap-2'>
  <a
    target='_blank'
    href='https://code.visualstudio.com'
    class='flex flex-col min-[1000px]:gap-4 group place-content-center items-center bento-container p-4 rounded-md'
  >
    <VisualStudioCode />
    <p
      class='text-neutral-500 group-hover:text-teal-500 transition-colors ease-in-out font-bold text-xs'
    >
      <span class='max-[1000px]:sr-only'> VS Code </span>
    </p>
  </a>
  <a
    target='_blank'
    href='https://ohmyposh.dev'
    class='flex flex-col min-[1000px]:gap-4 group place-content-center items-center bento-container'
  >
    <Terminal />
    <p
      class='text-neutral-500 group-hover:text-teal-500 transition-colors ease-in-out font-bold text-xs'
    >
      <span class='max-[1000px]:sr-only'> Oh My Posh</span>
    </p>
  </a>
  <a
    target='_blank'
    href='https://www.opera.com/es/gx'
    class='flex flex-col min-[1000px]:gap-4 group place-content-center items-center bento-container'
  >
    <OperaGX />
    <p
      class='text-neutral-500 group-hover:text-teal-500 transition-colors ease-in-out font-bold text-xs'
    >
      <span class='max-[1000px]:sr-only'> OperaGX</span>
    </p>
  </a>

  <a
    target='_blank'
    href='https://fonts.google.com'
    class='flex flex-col min-[1000px]:gap-4 group place-content-center items-center bento-container'
  >
    <GoogleFont />
    <p
      class='text-neutral-500 group-hover:text-teal-500 transition-colors ease-in-out font-bold text-xs'
    >
      <span class='max-[1000px]:sr-only'> Fira Code</span>
    </p>
  </a>
  <a
    target='_blank'
    href='https://marketplace.visualstudio.com/items?itemName=zhuangtongfa.Material-theme'
    class='flex flex-col min-[1000px]:gap-4 group place-content-center items-center bento-container'
  >
    <Theme />
    <p
      class='text-neutral-500 group-hover:text-teal-500 transition-colors ease-in-out font-bold text-xs'
    >
      <span class='max-[1000px]:sr-only'> One Dark Pro</span>
    </p>
  </a>
</div>
