---
import StyledSection from './StyledSection.astro';
import SectionTitle from './SectionTitle.astro';
import VisualStudioCode from './icons/VisualStudioCode';
import Terminal from './icons/Terminal';
import GoogleFont from './icons/GoogleFont';
import OperaGX from './icons/OperaGX';
import Theme from './icons/Theme';
import content from '../constants/content.json';
---

<div class='col-span-6 grid grid-cols-5 gap-2'>
  <a
    target='_blank'
    href='https://code.visualstudio.com'
    class='group bento-container relative p-4 rounded-md'
  >
    <div
      class='flex flex-col min-[1000px]:gap-4 place-content-center items-center z-30 relative'
    >
      <VisualStudioCode />
      <p
        class='text-neutral-500 group-hover:text-sky-500 transition-colors ease-in-out font-bold text-xs'
      >
        <span class='max-[1000px]:sr-only'> VS Code </span>
      </p>
    </div>

    <span
      class='absolute inset-0 bg-gradient-to-tr opacity-0 group-hover:opacity-100 from-gray-200/20 to-transparent z-20 transition-opacity duration-200 ease-in-out backdrop-blur-[1px]'
    ></span>
  </a>
  <a
    target='_blank'
    href='https://ohmyposh.dev'
    class='group bento-container relative p-4 rounded-md'
  >
    <div
      class='flex flex-col min-[1000px]:gap-4 place-content-center items-center z-30 relative'
    >
      <Terminal />
      <p
        class='text-neutral-500 group-hover:text-sky-500 transition-colors ease-in-out font-bold text-xs'
      >
        <span class='max-[1000px]:sr-only'> Oh My Posh</span>
      </p>
    </div>
    <span
      class='absolute inset-0 bg-gradient-to-tr opacity-0 group-hover:opacity-100 from-gray-200/20 to-transparent z-20 transition-opacity duration-200 ease-in-out backdrop-blur-[1px]'
    ></span>
  </a>
  <a
    target='_blank'
    href='https://www.opera.com/es/gx'
    class='group bento-container relative p-4 rounded-md'
  >
    <div
      class='flex flex-col min-[1000px]:gap-4 place-content-center items-center z-30 relative'
    >
      <OperaGX />
      <p
        class='text-neutral-500 group-hover:text-sky-500 transition-colors ease-in-out font-bold text-xs'
      >
        <span class='max-[1000px]:sr-only'> OperaGX</span>
      </p>
    </div>
    <span
      class='absolute inset-0 bg-gradient-to-tr opacity-0 group-hover:opacity-100 from-gray-200/20 to-transparent z-20 transition-opacity duration-200 ease-in-out backdrop-blur-[1px]'
    ></span>
  </a>

  <a
    target='_blank'
    href='https://fonts.google.com'
    class='group bento-container relative p-4 rounded-md'
  >
    <div
      class='flex flex-col min-[1000px]:gap-4 place-content-center items-center z-30 relative'
    >
      <GoogleFont />
      <p
        class='text-neutral-500 group-hover:text-sky-500 transition-colors ease-in-out font-bold text-xs'
      >
        <span class='max-[1000px]:sr-only'> Fira Code</span>
      </p>
    </div>
    <span
      class='absolute inset-0 bg-gradient-to-tr opacity-0 group-hover:opacity-100 from-gray-200/20 to-transparent z-20 transition-opacity duration-200 ease-in-out backdrop-blur-[1px]'
    ></span>
  </a>
  <a
    target='_blank'
    href='https://marketplace.visualstudio.com/items?itemName=zhuangtongfa.Material-theme'
    class='group bento-container relative p-4 rounded-md'
  >
    <div
      class='flex flex-col min-[1000px]:gap-4 place-content-center items-center z-30 relative'
    >
      <Theme />
      <p
        class='text-neutral-500 group-hover:text-sky-500 transition-colors ease-in-out font-bold text-xs'
      >
        <span class='max-[1000px]:sr-only'> One Dark Pro</span>
      </p>
    </div>
    <span
      class='absolute inset-0 bg-gradient-to-tr opacity-0 group-hover:opacity-100 from-gray-200/20 to-transparent z-20 transition-opacity duration-200 ease-in-out backdrop-blur-[1px]'
    ></span>
  </a>
</div>
