---
import SectionTitle from './SectionTitle.astro';
import content from '../constants/content.json';
import { WorkMarquee } from './React/WorkMarquee';
import kilahUi from '../assets/images/kilahUI.png';
import { BentoContainer } from './React/BentoContainer';
import { AnimatedContainer } from './React/AnimatedContainer';
---

<AnimatedContainer className='col-span-12 lg:col-span-5' client:load>
  <BentoContainer>
    <SectionTitle>{content.en.myWork.heading}</SectionTitle>
    <div class='grid grid-cols-8 min-h-[18rem] gap-6 justify-items-center'>
      <WorkMarquee client:only='react' />
    </div>
  </BentoContainer>
</AnimatedContainer>

<AnimatedContainer
  className='lg:col-span-7 col-span-12 relative overflow-hidden lg:h-auto h-40'
  client:load
>
  <a href='#' class='group h-full w-full'>
    <BentoContainer className='overflow-hidden relative h-full '>
      <div>
        <img
          src={kilahUi.src}
          alt=''
          class='w-full h-full absolute inset-0 object-cover group-hover:scale-110 transition-transform ease-in-out'
        />
      </div>
    </BentoContainer>
  </a>
</AnimatedContainer>
