---
import SectionTitle from './SectionTitle.astro';
import StyledSection from './StyledSection.astro';
import content from '../constants/content.json';
import { WorkMarquee } from './React/WorkMarquee';
import kilahUi from '../assets/images/kilahUI.png';
---

<StyledSection className='col-span-12 lg:col-span-5'>
  <SectionTitle>{content.en.myWork.heading}</SectionTitle>
  <div class='grid grid-cols-8 min-h-[20rem] gap-6 justify-items-center'>
    <WorkMarquee client:only='react' />
  </div>
  <div>
    <a>See all</a>
  </div>
</StyledSection>

<StyledSection
  className='lg:col-span-7 col-span-12 relative overflow-hidden lg:h-auto h-40'
>
  <a href='#' class='group'>
    <img
      src={kilahUi.src}
      alt=''
      class='w-full h-full absolute inset-0 object-cover group-hover:scale-110 transition-transform ease-in-out'
    />
  </a>
</StyledSection>
