---
import { cn } from '../lib/utils';

type Props = {
  id?: string;
  className?: string;
};

const { id, className } = Astro.props;
---

<h1
  id={id}
  class={cn(
    'font-black text-2xl w-full md:text-3xl 2xl:text-4xl bg-gradient-to-tr from-foreground to-gray-600 bg-clip-text text-transparent',
    className
  )}
>
  <slot />
</h1>
