---
type Props = {
  id?: string;
};

const { id } = Astro.props;
---

<h1
  id={id}
  class='font-black text-2xl w-full md:text-3xl 2xl:text-4xl bg-gradient-to-tr from-neutral-200 to-neutral-600 bg-clip-text text-transparen'
>
  <slot />
</h1>
