---
import { AnimatedContainer } from './React/AnimatedContainer';
import { BentoContainer } from './React/BentoContainer';
import TestimonialMarquee from './React/TestimonialMarquee';
import SectionTitle from './SectionTitle.astro';
---

<AnimatedContainer className='col-span-12 ' client:load
  ><BentoContainer className='overflow-hidden'>
    <SectionTitle>Testimonials</SectionTitle>
    <div
      class='mt-6 grid relative grid-cols-8 gap-6 justify-items-center h-[20rem]'
    >
      <TestimonialMarquee lang='en' client:only='react' />
    </div>
  </BentoContainer></AnimatedContainer
>
