---
import Meta from '../components/Meta.astro';
import OpenGraphFacebook from '../components/OpenGraphFacebook.astro';
import { LoadingScreen } from '../components/React/LoadingScreen';
import TwitterCard from '../components/TwitterCard.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en' class='scroll-smooth'>
  <head>
    <title>{title}</title>
    <Meta />
    <OpenGraphFacebook />
    <TwitterCard />
    <meta
      name='google-site-verification'
      content='HhawtBpenGliesOLyFP46TlYilTGbHHQIcUnLtvQp4w'
    />

    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;1,600;1,700&display=swap'
      rel='stylesheet'
    />
  </head>
  <LoadingScreen client:load />
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @tailwind base;
  @tailwind utilities;

  html {
    font-family: 'Fira Sans', system-ui, sans-serif;
    background: #050505;
    background-size: 224px;
    color: rgb(204, 210, 213);
  }

  body {
    overflow: hidden;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  @layer base {
    .bento-container {
      @apply border rounded-md border-neutral-500/20 p-6 bg-neutral-500/5;
    }
  }
</style>
